@import '../../CommonScss/Responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.card-team {
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(149, 149, 149, 0.1);
  transition: 0.2s;
  &:hover {
    z-index: 100;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    transform: translate(0, -10px);
  }

  .nameItem {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
  }

  .card-team-container {
    background-color: #ffffff;
    line-height: 24px;
    padding: 27px 27px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    position: relative;
    box-sizing: border-box;

    .card-team-img {
      font-size: 60px;
      min-width: 80px;
      padding: 10px 15px 50px;
      & > .img-fluid {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
    .card-team-text {
      h3 {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 8px 0;
        color: #00aeef;
        font-weight: 400;
        text-align: center;
      }
      p {
        color: #000000;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        display: block;
        font-weight: 400;
      }
      a {
        text-decoration: none;
        color: #00aeef;
      }
    }
  }
}

@include responsive('medium') {
  .card-team {
    .card-team-container {
      .card-team-img {
        font-size: 38px;
        padding: 38px 0;
      }
    }
  }
  .card-team {
    .card-team-container {
      .card-team-text {
        a,
        p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}
