.aler-vali-failed {
  color: #d8000c;
  background: #ffbaba;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  margin: 3em 0.5em 0;
}

.aler-vali-succes {
  color: #1a6e63;
  background: #7acfa5;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  margin: 3em 0.5em 0;
}
