.error-page-content {
  text-align: center;
  background: rgb(151, 151, 151);
  padding: 150px 40px;
  color: white;
  p {
    margin-bottom: 5%;
  }
  span {
    a {
      text-decoration: none;
      color: #00aeef;
      &:hover {
        color: #25c5ff;
      }
    }
  }
}
